# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# Environment / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Native / Signing
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Coverage
coverage/

# Misc
*.pem